@model BikeShop.Domain.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row align-items-center">
        <div class="row col col-md-6">
            <table class="table table-borderless">
                <tr>
                    <td scope="row" class="font-weight-bold">@Html.DisplayNameFor(model => model.Model)</td>
                    <td>@Html.DisplayFor(model => model.Model)</td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">@Html.DisplayNameFor(model => model.Year)</td>
                    <td>@Html.DisplayFor(model => model.Year)</td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">@Html.DisplayNameFor(model => model.Description)</td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">@Html.DisplayNameFor(model => model.Price)</td>
                    <td>@Html.DisplayFor(model => model.Price) $</td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">@Html.DisplayNameFor(model => model.Category)</td>
                    <td>@Html.DisplayFor(model => model.Category.Name)</td>
                </tr>
            </table>
        </div>
        <div class="col flex-grow-0 col-md-6">
            <a href="@Model.ImageFiles.FirstOrDefault().Path" target="_blank" class="mx-auto d-block">
                <img src="@Model.ImageFiles.FirstOrDefault().Path" alt="Image" height="100" />
            </a>
        </div>
    </div>
</div>
<div>
    <form asp-action="AddToCart" asp-controller="Cart" method="post" class="m-1">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)" />
        <input type="submit" value="Add to cart" class="btn btn-success btn-sm float-end" />
    </form>
    <a class="btn btn-outline-primary m-1" asp-action="Index">Back to List</a>
</div>
